body{
    background-color: turquoise;
}
#p4{
    font-size: 20px;
    font-weight: bolder;
}
hr{
    height: 1px;
    background-color: black;
    border: none;
}
span{
    color: #FFFDD0;
}
#box1{
    border: 5px solid;
    width: 1000px;
    height: 200px;
    background-color: #FFFDD0;
    text-align: center;
    font-size: 200px;
    margin-top: 450px;
    animation: AwsomeRotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes AwsomeRotate{
    100%{transform: rotateZ(360deg);}
}
canvas { 
    border: 1px solid black;
}
canvas {
    background-color: white; /* White background for the coordinate plane */
    border: 1px solid #000; /* Border around the canvas */
    display: block; /* Ensure it's a block-level element */
}
#gamble {
    height: 200px;
    width: 200px;
    text-align: center;
    font-size: 100px;
    border: 5px solid;
}
